<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @course.startdate %>
</p>

<p>
  <strong>Weekday:</strong>
  <%= @course.weekday %>
</p>

<p>
  <strong>Time:</strong>
  <%= @course.time %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
